#product{
    margin-top: 150px;
    margin-left: 5%;
    margin-right: 5%;
	display: flex;
}
.index-image{
	height: 500px;
	width: 500px;
}
#right{
    margin-left: 50px;
    font-size: 25px;
}
.number-product{
    margin-top: 50px;
    display: flex;
}
.button4{
    width: 40px;
    font-size: 30px;
}
button.button {
  color: white;
    background-color: orange;
    width: 300px;
    margin-top: 20px;
    font-size: 25px;
}
button.button:hover {
  border-bottom: #a99567 1px solid;
  color: #a99567;
}
#describe{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 100px;
}
.part1{
	width:300px;
	font-size: 15px;
}
.part2{
	font-size: 15px;
	margin-left: 5%;
	width:300px;
}
.info{
	display: flex;
}