body{
	background: #eee;
	margin-left: 5%;
	margin-top: 50px;
}
h2{
  color: red;
}

input{
  width: 40%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #1c87c9;
  outline: none;
}
.submit {
  width: 41.57%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #1c87c9;
  outline: none;
}
